@import "./../../styles/globales.scss";

.portafolio {
	padding: 5rem 0;
}

.portafolio-filters {
  padding: 2% 5%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.portafolio-images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  justify-content: center;
  align-items: center;
  &_caja {
    width: 90%;
    max-height: 35vh;
    overflow: hidden;
    margin: 2% auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      transition: 0.5s;
      &:hover {
        object-position: center;
        transform: scale(1.2);
        transition: 0.5s;
      }
    }
  }
}

.iconos {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
}


.iconos-caja {
	width: 80%;
	border: 1px solid $second-color;
	padding: 3%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 2% 0;
}

.iconos-caja_content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2%;
	span {
		text-transform: uppercase;
		font-size: 0.9rem;
		font-weight: bold;
	}
	.icon{
		color: $main-color;
	}
}
